[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "~=3.6"
aiohttp-swagger = "*"
pyyaml = "*"
aiopg = {extras = ["sa"],version = "*"}
aiohttp-validate = "*"

[requires]
python_version = "3.6"
